<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-auto text-center">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="search" aria-label="Username" aria-describedby="basic-addon1" (change)="search($event)">
              </div>
        </div>
    </div>
    
    <div class="row">
        <app-show-products [allProducts]="allProducts" [role]="role"></app-show-products>
    </div>
</div>