<div class="container-fluid mt-3">
  <div class="row my-5">
    <div class="col text-center">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" #addButton>
        Add Product
      </button>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-auto text-center">
        <div class="input-group border rounded-3">
            <div class="input-group-prepend d-flex align-items-center">
              <span class="input-group-text border-0" id="basic-addon1" style="background-color: white;"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <input type="text" class="form-control border-0 shadow-none" placeholder="search" aria-label="Username" aria-describedby="basic-addon1" (change)="search($event)">
        </div>
    </div>
    <div class="col-auto">
        <select class="form-select shadow-none" (change)="changeCategory($event)">
            <option value="" [defaultSelected]="true">All</option>
            <option value="{{item._id}}" *ngFor="let item of allCategories">{{item.name | titlecase}}</option>
        </select>
    </div>
  </div>
  
  <app-show-products [allProducts]="allProducts" (deleteProduct)="deleteProduct($event)" (updateProduct)="updateProduct($event)"></app-show-products>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-bs-backdrop="static"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" [hidden]="!updateState">Update Product</h5>
        <h5 class="modal-title" id="exampleModalLabel" [hidden]="updateState">Add Product</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm">
          <div class="form-floating">
            <input type="text" name="" id="name" formControlName="name" placeholder="name" class="form-control" [ngClass]="{'is-invalid': this.controls.name.invalid && (this.controls.name.dirty || this.controls.name.touched), 'is-valid':this.controls.name.valid}">
            <label for="name">Product Name</label>
            <span class="invalid-feedback" *ngIf="this.controls.name.errors?.['required']">Product name is required!</span>
          </div>
          <div class="form-floating mt-3">
            <input type="number" min="0" name="" id="price" formControlName="price" placeholder="price" class="form-control" [ngClass]="{'is-invalid': this.controls.price.invalid && (this.controls.price.dirty || this.controls.price.touched), 'is-valid':this.controls.price.valid}">
            <label for="price">Product price</label>
            <span class="invalid-feedback" *ngIf="this.controls.price.errors?.['required']">Product price is required!</span>
          </div>
          <div class="form-floating mt-3">
            <textarea name="" id="description" class="form-control" placeholder="description" formControlName="description" [ngClass]="{'is-invalid': this.controls.description.invalid && (this.controls.description.dirty || this.controls.description.touched), 'is-valid':this.controls.description.valid}"></textarea>
            <label for="description">Description</label>
            <span class="invalid-feedback" *ngIf="this.controls.description.errors?.['required']">Product description is required!</span>
          </div>
          <div class="form-floating mt-3">
            <select name="" id="category" class="form-select" formControlName="category" [ngClass]="{'is-invalid': this.controls.category.invalid && (this.controls.category.dirty || this.controls.category.touched), 'is-valid':this.controls.category.valid}">
              <option value="{{item._id}}" *ngFor="let item of allCategories">{{item.name | titlecase}}</option>
            </select>
            <label for="category">Select Category</label>
            <span class="invalid-feedback" *ngIf="this.controls.category.errors?.['required']">Product category is required!</span>
          </div>
          <div class="form-floating mt-3">
            <input type="file" name="" formControlName="file" accept="image/png, image/jpg, image/jpeg" id="image" class="form-control" placeholder="file" placeholder="file" (change)="selectFile($event)" [ngClass]="{'is-invalid': this.controls.file.invalid && (this.controls.file.dirty || this.controls.file.touched), 'is-valid':this.controls.file.valid}">
            <label for="image">Product Image</label>
            <span class="invalid-feedback" *ngIf="this.controls.file.errors?.['required']">Product image is required!</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeButton (click)="resetThings()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addProduct()" [hidden]="updateState">Add</button>
        <button type="button" class="btn btn-warning" (click)="update()" [hidden]="!updateState">Update</button>
      </div>
    </div>
  </div>
</div>