<div class="container mb-5">
    <div class="row mt-4">
      <div class="col-lg-3 mt-3" *ngFor="let item of allProducts">
        <div class="card h-100">
          <div class="w-100 h-100 d-flex align-items-center" style="background-color: white;">
            <img class="card-img-top img-fluid" src="http://localhost:3000/{{item.image}}" alt="Card image">
          </div>
          <div class="card-body">
            <h4 class="card-title">{{item.name | titlecase}}</h4>
            <h4 class="card-title">Price : ₹{{item.price}}</h4>
            <h5 class="card-title">Category: {{item.category_name | titlecase}}</h5>
            <p class="card-text">{{item.description}}</p>
            <button type="button" class="btn btn-danger me-2" (click)="delete(item._id)" [hidden]="role === 'user'">Delete</button>
            <button type="button" class="btn btn-warning" (click)="update(item._id)" [hidden]="role === 'user'">Update</button>
            <!-- <button type="button" class="btn btn-secondary" (click)="view(item._id)">View</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>