<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h3>{{usersCount}}</h3>
                    <h5>Total Users</h5>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h3>{{productsCount}} </h3>
                    <h5>Total Products</h5>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h3>{{categoryCount}}</h3>
                    <h5>Total Categories</h5>
                </div>
            </div>
        </div>
    </div>
</div>